<!doctype html>
<html [^ builderius_wp_function('language_attributes') ^]>
<head>
    <meta charset="[^ builderius_wp_function('bloginfo', ['charset']) ^]">
    <meta name="viewport" content="width=device-width, initial-scale=1'">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    [^ builderius_wp_function('wp_head') ^]
</head>
<body>
    <div id="builderiusBuilder" class="builderiusContent"></div>
    <div id="builderiusPanel">
        <div class="builderiusPreloader">
            <i class="spinner"></i>
        </div>
    </div>
    [^ builderius_wp_function('wp_footer') ^]
</body>
</html>